<div class="items-by-category-container" [id]="category">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>{{category}}</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let menuItem of getMenuItemsByCategory(category!) | async">
          <mat-card
            (click)="openItemOptionsDialog(menuItem, $event)"
            style="cursor: pointer; width: 100%; height: 70%; margin: 5px; padding: 25px; display:flex; flex-direction: column;justify-content: space-between">
            <mat-card-title>{{menuItem.itemName}}</mat-card-title>
            <mat-card-content class="item-description-container">
              <p>{{menuItem.itemDescription}}</p>
              <p>{{menuItem.itemAllergens}}</p>
            </mat-card-content>
            <mat-card-footer>
              <div style="display: flex; justify-content: space-between">
                <div>
                <span *ngIf="menuItem.itemCost"
                      style="font-weight: bold">{{menuItem.itemCost|currency:"EUR":"symbol"}}</span>
                </div>
                <app-increase-decrease-counter
                  [showDecrease]="getBasketItem(menuItem.id)?.itemCount! > 0"
                  [counterCount]="getBasketItem(menuItem.id)?.itemCount"
                  (decreaseClicked)="removeFromBasket(menuItem.id)"
                  (increaseClicked)="addToBasket(menuItem)"
                ></app-increase-decrease-counter>
              </div>
            </mat-card-footer>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>

