.item-option-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.item-option-radio-button {
  margin: 5px;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.fa-pointer {
  cursor: pointer;
}
