<div class="restaurant-main-container" *ngIf="restaurantMain$ | async; let restaurantMain">
  <div>Basket log</div>
  <div *ngFor="let basketItem of basketItems$ | async">
    <div>
      {{ basketItem.itemName }}
    </div>
    <div>
      {{ basketItem.itemCount }}
    </div>
    <div>
      {{ basketItem.itemOption }}
    </div>
  </div>

  <div class="restaurant-main-header-container">
    <h1>{{restaurantMain.name}}</h1>
    <div>
      <fa-icon size="2x" [icon]="faBagShopping"></fa-icon>
      <span style="margin-left:5px;font-size: large; font-weight: normal">Collect at</span>
      <span style="margin-left:5px;font-weight: lighter"> {{restaurantMain.locationDetail}}</span>
    </div>
    <span style="font-weight: lighter">Min order: {{restaurantMain.minimumOrder|currency:"EUR":"symbol"}}</span>
  </div>

  <div class="restaurant-main-categories-container">
    <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>
    <mat-chip-list aria-label="Category selection">
      <mat-chip
        (click)="scrollToView(category)"
        style="cursor: pointer"
        *ngFor="let category of restaurantMain?.menuItemCategories">
        {{category}}
      </mat-chip>
    </mat-chip-list>
    <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>
  </div>

  <div class="restaurant-main-items-by-categories-container">
    <div *ngFor="let category of restaurantMain?.menuItemCategories" style="margin-top: 10px"
         class="items-container">
      <app-items-by-category
        [category] = "category"
      ></app-items-by-category>
    </div>

</div>

